* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
body {
    background: rgb(140, 21, 21);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    background: #40bc70;
    padding: 10px 20px;
    background-image: url("images/header.jpeg");
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    width: 100%;
}
header#hero-header {
    background-image: url("images/header.jpeg");
    width: 100vw;
    margin: 0;
    padding: 10px 0;    
    
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}
#hero-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
}

main {
    padding: 50px;
    /*background-color: white;*/
    background-color: rgb(140, 21, 21);
    color: white;
    font-size: xx-large;
    z-index: 2;
    position: relative;
}

ul {
    list-style-type: none;
}
ul li {
    display: block; 
}
h1 {
    color: rgb(140, 21, 21);
    background-color: rgba(255, 255, 255, 0.9);
    background-position: center;
    border-radius: 15px;
    padding-left: 30px;
    text-align: center;
    margin-top: 15px;
}
h2 {
    color: black;
    background-color: rgba(0, 0, 0, 0.39);
    background-position: center;
    border-radius: 15px;
    margin-left: 50px;
    padding-left: 30px;
}
header li {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px;
}

header .logo a {
    background-image: url("images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 200px;
    position: relative;
    top: -20px;
    text-indent: -9999999px;
    width: 300px;
}

/* Features */

nav ul {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul.nav-links {
    display: flex;
    justify-content: center; /* Center the group */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li.logo {
    flex-basis: 100%;         /* forces the logo to take a full row */
    text-align: center;
    margin-bottom: 10px;      /* adds spacing below the logo */
}

nav li.page {
    margin: 0 150px;  
    font-size: x-large;         /* spacing between the other links */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
  
th, td {
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}
  
th {
    background-color: #40bc70;
    color: white;
}
  